    <section class="Sub-header">
        <nav>
            <a routerLink="/home-component"  class="logo">
            </a>
            <div class="nav-links" id="navLinks">
                <!-- Reposnive bar open and close -->
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a routerLink="/">Academics</a></li>
                    <li><a routerLink="/courses-component">Courses</a></li>
                    <li><a routerLink="/placements-component">Placements</a></li>
                    <li><a routerLink="/about-component">About</a></li>
                    <li><a routerLink="/contact-component">Contact</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
            <!-- Reposnive bar open and close -->
        </nav>
        <!-- <h1>About Us</h1> -->
    </section>

    <!-- About Us Section Start -->

    <section class="about-us">
        <div class="row">
            <div class="about-col">
                <h1>IET is top ranked Institute in up</h1>
                <p><strong>Institute of Engineering and Technology (IET) was established in the year 1984. It is also known as a top engineering college in India. The institute was earlier affiliated (1984-1999) to the University of Lucknow. Currently, the college is recognised by Dr APJ Abdul Kalam Technical University and approved by All India Council for Technical Education.

                    The admission process is done on the basis of rank obtained by candidates in UPSEE (Uttar Pradesh State Engineering Admission Test) /GATE Entrance Exam.</strong></p>
                <a href="#" class="hero_btn btn">EXPLORE NOW</a>
            </div>
            <div class="about-col">
                <img src="assets/img/about.jpeg" alt="">
            </div>
        </div>
    </section>
    <section class="about">
        <div class="row row-bacground-color">
            <div class="about-col">
                <h3>CO-CURRICULARS</h3>
                <hr>
                <ul>
                    <li>Engineering Society</li>
                    <li>Google Developer Student Club</li>
                    <li>ISSACC</li>
                    <li>Mechanical Engineering Forum (MEF)</li>
                    <li>PARMARTH</li>
                    <li>Society for Electronics Exploration and Development (SEED)</li></ul>
            </div>
            <div class="about-col">
                <h3>COUNCIL/BODIES</h3>
                <hr>
                <ul>
                    <li>E-Cell</li>
                    <li>IEEE Students Chapter UNIT STB62961</li>
                    <li>Institution's Innovation Council</li>
                    <li>ISSACC</li>
                    <li>Navyug Navachar Foundation</li></ul>
            </div>
            <div class="about-col">
                <h3>IET IN NEWS</h3>
                <hr>
                <ul>
                    <li>Lucknow’s Meha brings home all-India hackathon accolades</li>
                    <li>बिजली समस्या का निकलेगा समाधान</li>
                    <li>IET Lucknow’s electrical dept bags grant from Union power ministry</li>
                    <li>UGC extends autonomous status of Lucknow’s IET for 5 years</li>
                    <li>Experts at IET guide students about career opportunities..</li></ul>
            </div>
        </div>
    </section>

    <!-- About Us Section end -->

    <!-- Footer Section start -->
    <section class="footer">
        <hr>
        <h4>About Us</h4>
        <p><i class="fas fa-map-marker-alt"></i> <strong> Sitapur Rd, Sector F, Jankipuram, Lucknow, Uttar Pradesh 226021</strong> 
        </p>

        <div class="icons">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-linkedin"></i>
        </div>
        <p>Developed and maintained by <a routerLink="/home-component">Team Phoenix</a></p>
        <p>Copyright © 2023 <a routerLink="/home-component">IET Lucknow</a>. All Rights Reserved</p>
    </section>
    <!-- Footer Section end -->
