
<section class="Sub-header">
    <nav>
        <a routerLink="/home-component"  class="logo">
        </a>
        <div class="nav-links" id="navLinks">
            <!-- Reposnive bar open and close -->
            <i class="fa fa-times" onclick="hideMenu()"></i>
            <ul>
                <li><a routerLink="/">Academics</a></li>
                <li><a routerLink="/courses-component">Courses</a></li>
                <li><a routerLink="/placements-component">Placements</a></li>
                <li><a routerLink="/about-component">About</a></li>
                <li><a routerLink="/contact-component">Contact</a></li>
            </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
        <!-- Reposnive bar open and close -->
    </nav>
</section>

<!-- course start -->

<section class="course">
    <h1>Courses We Offer</h1>
    <p>Institute of Engineering and Technology (IET) was established in the year 1984. It is also known as a top
        engineering college in India. The institute was earlier affiliated (1984-1999) to the University of Lucknow.
        Currently, the college is recognised by Dr APJ Abdul Kalam Technical University and approved by All India
        Council for Technical Education.

        The admission process is done on the basis of rank obtained by candidates in UPSEE (Uttar Pradesh State
        Engineering Admission Test) /GATE Entrance Exam.   </p>
          
        <h2>Undergraduate Programs</h2>
        <hr>
    <div class="row">
        <div class="course-col">
            <h3>B.Tech.(IT)</h3>
            <hr>
            <p>Bachelor of Technology (B.Tech) in various branches of engineering, such as Computer Science and
                Engineering, Electrical Engineering, Mechanical Engineering, Electronics and Communication
                Engineering, Civil Engineering, etc.</p>

            <a href="https://www.ietlucknow.ac.in/dept/cse">
                <button class="but">Explore
           </button>  </a>

        </div>
        <div class="course-col">
            <h3>B.Tech.(CSE)</h3>
            <hr>
            <p>Master of Computer Applications (MCA),Master of Business Administration (MBA) Master of Technology
                (M.Tech) in different specializations, including Computer Science and
                Engineering, Digital Electronics, Power Electronics, Environmental Engineering, Structural
                Engineering, etc.</p>

            <a href="https://www.ietlucknow.ac.in/dept/mca">
                <button class="but">Explore </button>
            </a>

        </div>
        <div class="course-col">
            <h3>B.Tech.(EE)</h3>
            <hr>
            <p>Bachelor of Technology (B.Tech) in various branches of engineering, such as Computer Science and
                Engineering, Electrical Engineering, Mechanical Engineering, Electronics and Communication
                Engineering, Civil Engineering, etc.</p>

            <a href="https://www.ietlucknow.ac.in/content/99">
                <button class="but">Explore </button>
            </a>

        </div>

        <div class="course-col">
            <h3>B.Tech.(ME)</h3>
            <hr>
            <p>Bachelor of Technology (B.Tech) in various branches of engineering, such as Computer Science and
                Engineering, Electrical Engineering, Mechanical Engineering, Electronics and Communication
                Engineering, Civil Engineering, etc.</p>

            <a href="https://www.ietlucknow.ac.in/dept/sf">
                <button class="but">Explore </button>
            </a>

        </div>
    </div>
</section>
<section class="course">
    <h2>Postgraduate Programs</h2>
    <hr>
    <div class="row">
        <div class="course-col">
            <h3>MCA</h3>
            <hr>
            <p>Bachelor of Technology (B.Tech) in various branches of engineering, such as Computer Science and
                Engineering, Electrical Engineering, Mechanical Engineering, Electronics and Communication
                Engineering, Civil Engineering, etc.</p>

            <a href="https://www.ietlucknow.ac.in/dept/cse">
                <button class="but">Explore</button>
            </a> 

        </div>
        <div class="course-col">
            <h3>MBA</h3>
            <hr>
            <p>Bachelor of Technology (B.Tech) in various branches of engineering, such as Computer Science and
                Engineering, Electrical Engineering, Mechanical Engineering, Electronics and Communication
                Engineering, Civil Engineering, etc.</p>

            <a href="https://www.ietlucknow.ac.in/content/99">
                <button class="but">Explore </button>
            </a>

        </div>
        <div class="course-col">
            <h3>M.Tech.(Biotechnology)</h3>
            <hr>
            <p>Master of Computer Applications (MCA),Master of Business Administration (MBA) Master of Technology
                (M.Tech) in different specializations, including Computer Science and
                Engineering, Digital Electronics, Power Electronics, Environmental Engineering, Structural
                Engineering, etc.</p>

            <a href="https://www.ietlucknow.ac.in/dept/mca">
                <button class="but">Explore </button>
            </a>

        </div>

        <div class="course-col">
            <h3>M.Tech.(Mechanical Engineering)</h3>
            <hr>
            <p>Bachelor of Technology (B.Tech) in various branches of engineering, such as Computer Science and
                Engineering, Electrical Engineering, Mechanical Engineering, Electronics and Communication
                Engineering, Civil Engineering, etc.</p>

            <a href="https://www.ietlucknow.ac.in/dept/sf">
                <button class="but">Explore </button>
            </a>

        </div>
    </div>
</section>
<section class="course">
    <h2>Self Finance Program</h2>
    <hr>
    <div class="row">
        <div class="course-col">
            <h3>MBA</h3>
            <hr>
            <div>
            <div>
            <p>Bachelor of Technology (B.Tech) in various branches of engineering, such as Computer Science and
                Engineering, Electrical Engineering, Mechanical Engineering, Electronics and Communication
                Engineering, Civil Engineering, etc.</p>
            </div>
            <div>
                <a href="https://www.ietlucknow.ac.in/dept/sf">
                    <button class="but">Explore </button>
                </a>
            </div>
        </div>

        </div>
        <div class="course-col">
            <h3>M.Tech.(Microelectronics)</h3>
            <hr>
            <p>Master of Computer Applications (MCA),Master of Business Administration (MBA) Master of Technology
                (M.Tech) in different specializations, including Computer Science and
                Engineering, Digital Electronics, Power Electronics, Environmental Engineering, Structural
                Engineering, etc.</p>
                <div class="course-button">
                <a href="https://www.ietlucknow.ac.in/dept/sf">
                    <button class="but">Explore </button>
                </a>
            </div>


        </div>
        <div class="course-col">
            <h3>M.Tech.(AI and Data Science)</h3>
            <hr>
            <p>Bachelor of Technology (B.Tech) in various branches of engineering, such as Computer Science and
                Engineering, Electrical Engineering, Mechanical Engineering, Electronics and Communication
                Engineering, Civil Engineering, etc.</p>
                <div class="course-button">
                <a href="https://www.ietlucknow.ac.in/dept/sf">
                    <button class="but">Explore </button>
                </a>
            </div>


        </div>

        <div class="course-col">
            <h3>M.Tech.(CSE)</h3>
            <hr>
            <p>Bachelor of Technology (B.Tech) in various branches of engineering, such as Computer Science and
                Engineering, Electrical Engineering, Mechanical Engineering, Electronics and Communication
                Engineering, Civil Engineering, etc.</p>
            <div class="course-button">
            <a href="https://www.ietlucknow.ac.in/dept/sf">
                <button class="but">Explore </button>
            </a>
        </div>

        </div>
    </div>
</section>

<!-- course end -->

<!-- best course start -->

<section class="facilities">
    <h1>Best Facilities</h1>
    <hr>

    <div class="row1">
        <div class="facilities-col">
            <img src="/assets/img/library2.jpg" alt="">
            <h3>Library</h3>
            <hr>
            <p>We are happy to inform that the IET Central Library now has a WEB OPAC .The Library now uses an Open
                Source Library Management System Koha.  The College library, located at the center of the campus. It is equipped with Wi-Fi connectivity and is under surveillance by CCTV Cameras. It is furnished with more than 1,37,000 books, around 9,200 book bank collections, 23 newspapers varieties and 98 journals and magazines. It also has a broad spectrum of general and reference books to support the academic requirements of the students and faculty members.
            </p>
        </div>
        <div class="facilities-col">
            <img src="/assets/img/Campus1.jpg" alt="">
            <h2>Sports Complex</h2>
            <hr>
            <p>IET is constructing a modern sports complex for easy access to sports, benefiting the fitness of
                young engineers. It will have football, cricket, tennis, basketball, volleyball, running track, and
                a multipurpose hall.
            </p>
        </div>
        <div class="facilities-col">
            <img src="/assets/img/Campus6.jpeg" alt="">
            <h2>Computer Center</h2>
            <hr>
            <p>
                The institute's computer center has modern hardware and software, supporting in-house software
                development and maintenance. Multiple labs with updated desktops facilitate experiments and act as
                general-purpose computer labs.
            </p>
        </div>
        <div class="facilities-col">
            <img src="/assets/img/Campus7.jpg" alt="">
            <h3>Auditorium</h3>
            <hr>
            <p>Pandit Ram Prasad Bismil Sabhagar seats 800 people with acoustic AV amenities, video conferencing,
                digital projection, and Wi-Fi. Ideal for seminars, conferences, presentations, cultural events, and
                ENCORE students' fest, it boasts an excellent stage, back stage support, and service room.
            </p>
        </div>
    </div>

    <a href="https://www.ietlucknow.ac.in/resources.htm">
        <button class="butt" >Click to explore more</button>
    </a>

</section>

<!-- best courses end -->
<section class="footer">
    <hr>
    <h4>About Us</h4>
    <p><i class="fas fa-map-marker-alt"></i> <strong> Sitapur Rd, Sector F, Jankipuram, Lucknow, Uttar Pradesh 226021</strong>
    </p>

    <div class="icons">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-linkedin"></i>
    </div>
    <p>Developed and maintained by <a routerLink="/home-component">Team Phoenix</a></p>
    <p>Copyright © 2023 <a routerLink="/home-component">IET Lucknow</a>. All Rights Reserved</p>
</section>
<!-- Footer end -->
