<section class="header">
    <nav>
        <a routerLink="/home-component" class="logo">
        </a>
        <div class="nav-links" id="navLinks">
            <!-- Reposnive bar open and close -->
            <i class="fa fa-times" onclick="hideMenu()"></i>
            <ul>
                <li><a routerLink="/">Academics</a></li>
                <li><a routerLink="/courses-component">Courses</a></li>
                <li><a routerLink="/placements-component">Placements</a></li>
                <li><a routerLink="/about-component">About</a></li>
                <li><a routerLink="/contact-component">Contact</a></li>
            </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
        <!-- Reposnive bar open and close -->
    </nav>

    <div class="text_box">
        <h2>Institute Of Engineering & Technology</h2>
        <p id="headtext">अभियांत्रिकी एवं प्रौद्योगिकी संस्थान, लखनऊ </p>
        <p id="middletext">An <strong>Autonomous</strong> Constituent Institute of</p>
        <p id="backtext"> <strong>Dr. A.P.J. Abdul Kalam Technical University</strong>, U.P. Lucknow (226021)</p>
        <a href="#" class="hero_btn"><strong>Visit Us To Know More</strong></a>
    </div>
</section>

<!-- Course Section Start -->
<section class="maincourse">
    <div class="PageBlock">
        <div class="verticalLine"></div>
        <div class="Clear"></div>
    </div>
    <h1>EXPLORE OUR <br> MAJOR PROGRAMS</h1>
    <hr>
    <p>Explore the possibilities, accelerate your career and reach new heights! The Finest Education and Research
        Institution in Lucknow.</p>

    <div class="row">
        <div class="maincourse-col">
            <h3>Undergraduate Programs</h3>
            <hr>
            <p>Bachelor of Technology (B.Tech) in various branches of engineering, such as Computer Science and
                Engineering, Electrical Engineering, Mechanical Engineering, Electronics and Communication Engineering,
                Civil Engineering, etc.</p>
        </div>
        <div class="maincourse-col">
            <h3>Postgraduate Programs</h3>
            <hr>
            <p>Master of Computer Applications (MCA) , Master of Business Administration (MBA) , Master of Technology
                (M.Tech) in different specializations, including Computer Science and Engineering, Digital Electronics,
                Power Electronics, Environmental Engineering, Structural Engineering, etc.</p>
        </div>
        <div class="maincourse-col">
            <h3>Management Programs</h3>
            <hr>
            <p>Bachelor of Technology (B.Tech) in various branches of engineering, such as Computer Science and
                Engineering, Electrical Engineering, Mechanical Engineering, Electronics and Communication Engineering,
                Civil Engineering, etc.</p>
        </div>
    </div>
</section>

<!-- Course Section End -->

<!-- Campus Section Start-->

<section class="campus">
    <div class="PageBlock">
        <div class="verticalLine"></div>
        <div class="Clear"></div>
    </div>
    <h1>Campus tour</h1>
    <hr>
    <p>IET is the first ranked college of <strong>AKTU</strong> that delivers high-quality education with government's
        experienced teahers . It aims to nurture holistic growth of students by providing them with world-class
        infrastructure, pedagogic resources, experiential learning opportunities, industry exposure and employment
        opportunities.</p>

    <div class="row">
        <div class="campus-col">
            <img src="/assets/img/Campus1.jpg" alt="">
            <div class="layer">
                <h3>Sports Complex</h3>
            </div>
        </div>
        <div class="campus-col">
            <img src="/assets/img/Campus2.webp" alt="">
            <div class="layer">
                <h3>Auditorium</h3>
            </div>
        </div>
        <div class="campus-col">
            <img src="/assets/img/Campus3.jpg" alt="">
            <div class="layer">
                <h3>New LT</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="campus-col">
            <img src="/assets/img/Campus4.jpeg" alt="">
            <div class="layer">
                <h3>Main Gate</h3>
            </div>
        </div>
        <div class="campus-col">
            <img src="/assets/img/Campus5.jpg" alt="">
            <div class="layer">
                <h3>Class Room</h3>
            </div>
        </div>
        <div class="campus-col1">
            <img src="/assets/img/Campus6.jpeg" alt="">
            <div class="layer">
                <h3>Computer Lab</h3>
            </div>
        </div>
    </div>
</section>
<!-- Campus Section End -->

<!-- Facilities Section Start -->
<section class="mainfacilities">
    <div class="PageBlock">
        <div class="verticalLine"></div>
        <div class="Clear"></div>
    </div>
    <h1>Our Facilities</h1>
    <hr>
    <p>We are giving the best facilities to our students and faculty members.</p>

    <div class="row">
        <div class="mainfacilities-col">
            <img src="/assets/img/library.jpeg">
            <h3>Best Libary</h3>
            <p>IET has the largest, fully air-conditioned and well-equipped library amongst all the colleges in AKTU.
            </p>
        </div>
        <div class="mainfacilities-col">
            <img src="/assets/img/playground.jpeg" alt="">
            <h3>Athletics</h3>
            <p>IET is constructing a modern sports complex for easy access to sports, benefiting the fitness of young
                engineers. It will have football, cricket, tennis, basketball, volleyball, running track, and a
                multipurpose hall.</p>
        </div>
        <div class="mainfacilities-col">
            <img src="/assets/img/hostel.jpg" alt="">
            <h3>Hostels</h3>
            <p> Clean and Hygienic Mess facility is provided from breakfast to dinner, incorporating three days special
                food facility per week.
            </p>
        </div>
    </div>
</section>
<!-- Facilities Section End -->

<!-- Testimonials Section Start -->
<section class="testimonials">
    <div class="PageBlock">
        <div class="verticalLine"></div>
        <div class="Clear"></div>
    </div>
    <h1>What Our Student Says</h1>
    <hr>
    <p>Some of our passed out students speaks about college.</p>

    <div class="row">
        <div class="testimonials-col">
            <img src="/assets/img/user1.jpg" alt="oo..">
            <div>
                <p>IET Lucknow is a top-notch engineering college that nurtures talent and produces competent
                    professionals.The campus infrastructure is well-maintained and equipped with modern facilities. The
                    college's emphasis on practical learning through workshops and internships enhances students' skills
                    and prepares them for the industry. </p>
                <h3><strong>Mohit Chaurasia</strong></h3>
                <h2>MCA</h2>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
        </div>
        <div class="testimonials-col">
            <img src="/assets/img/user2.jpg" alt="oo..">
            <div>
                <p>College was a transformative journey of growth, learning, and personal development. I gained
                    knowledge, skills, and lifelong friendships, and overcame challenges that shaped me into a resilient
                    and accomplished individual.</p>
                <h3><strong>Utkarsh Gupta</strong></h3>
                <h2>MCA</h2>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-alt"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="testimonials-col">
            <img src="/assets/img/user3.jpeg" alt="oo..">
            <div>
                <p>IET Lucknow is an excellent engineering college with knowledgeable faculty, modern facilities, and a
                    strong focus on practical learning. It provides a conducive environment for students to grow and
                    develop their skills, making it a top choice for aspiring engineers.</p>
                <h3><strong>Rohit Kumar Anchal</strong></h3>
                <h2>MCA</h2>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
        </div>
        <div class="testimonials-col">
            <img src="/assets/img/user.png" alt="oo..">
            <div>
                <p>ET Lucknow stands as a distinguished engineering college, boasting proficient faculty,
                    state-of-the-art facilities, and a prominent emphasis on hands-on learning. It fosters a nurturing
                    atmosphere, empowering students to flourish and refine their skills, thus rendering it a prime
                    preference for aspiring engineers.</p>
                <h3><strong>Tarun Kumar</strong></h3>
                <h2>MCA</h2>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-alt"></i>
            </div>
        </div>
    </div>

</section>
<!-- Testimonials Section End -->

<!-- Call To Action Section Start -->
<section class="cta">
    <h1>GET READY FOR A BRIGHT FUTURE</h1>
    <!-- <a href="contact.html" class="hero_btn">CONTACT US</a> -->
</section>
<!-- Call To Action Section End -->

<!-- Footer Section Start -->
<section class="footer">
    <hr>
    <h4>About Us</h4>
    <p><i class="fas fa-map-marker-alt"></i> <strong> Rd, Sector F, Jankipuram, Lucknow, Uttar Pradesh 226021</strong>
    </p>

    <div class="icons">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-linkedin"></i>
    </div>
    <p>Developed and maintained by <a routerLink="/home-component">Team Phoenix</a></p>
    <p>Copyright © 2023 <a routerLink="/home-component">IET Lucknow</a>. All Rights Reserved</p>
</section>
<!-- Footer Section End -->